@charset "UTF-8";


/* Estilo de el Index  */
#bodyindex{
	background-image: url('../imagenes/celeste.jpg');
	background-size:cover;
}

/* Estilo de pagina login  */
#bodylogin{
	background-image: url('../imagenes/preve.jpg');
  	background-size: cover;	
  	font-style: italic;
}

#textlogin{
	
	padding-right:auto;
}

/* Color y estilo letras de Quienes somos   */
h2 {
	text-shadow: 2px 2px 5px black;
	font-style: italic;
}

/* Estilo Parrafo quienes somos de Index  */
#quienesSomos {
	background-image: url('../imagenes/violeta5.jpg')
}
/* Estilo Parrafo texto descriptivo de index   */
#parrafo1{
	
	background-image: url('../imagenes/azules1.jpg');
	background-size:cover;
}
/*color Parrafo*/
p{
	color: white;
}

/* Estilo de Footer  */
#footer {
	

  position: fixed;
  bottom: 0;
  width: 100%;
}


#lista{
	background-color: #f9f9f9;
}
/*color titlo Footer*/
#titulofoot{
	background-color: #c9d8e5;
}
/*color calendario Footer*/
#calendario{
	background-color: #c9d8e5;
}

/* Estilo de pagina Capacitacion */
#bodycapacitacion{
	background-image: url('../imagenes/celeste13.jpg');
	background-size:cover;
}

/* Estilo de pagina contacto  */
#bodycontacto{
	background-image: url('../imagenes/celeste13.jpg');
	background-size:cover;
}
/* Estilo de paginas de listar capacitacion,cliente,usuario  */
#bodylistado{
	background-image: url('../imagenes/celeste13.jpg');
	background-size:cover;
	
	
}

/* Estilo de el Navbar */
#bodynav {
	background-color: #c9d8e5;
	
	
}

.image-container {
padding-bot: 100%;
}

/* Estilo Crear Capacitacion  */
#BodyCrearCapacitacionM{
	background-image: url('../imagenes/celeste13.jpg');
	background-size:cover;
}
/* Estilo de errores  */
#error{
	text-aline:center;
}

	

